openapi: 3.1.0
info:
  title: CarsXE Vehicle Data Auth Specifications API
  description: CarsXE is a vehicle data API platform offering VIN decoding, vehicle specifications, market value, license plate decoding, vehicle recalls and related lookups. All endpoints accept an API key as a query string parameter `key`.
  version: '1'
  contact:
    name: CarsXE
    url: https://api.carsxe.com
servers:
- url: https://api.carsxe.com
  description: Production
security:
- ApiKeyQuery: []
tags:
- name: Specifications
paths:
  /specs:
    get:
      tags:
      - Specifications
      summary: Decode a VIN and return vehicle specifications
      operationId: getSpecifications
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - in: query
        name: vin
        required: true
        schema:
          type: string
          minLength: 17
          maxLength: 17
      - in: query
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      responses:
        '200':
          description: Vehicle specifications
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    ApiKey:
      in: query
      name: key
      required: true
      schema:
        type: string
      description: Your CarsXE API key
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: CarsXE API key from https://api.carsxe.com/dashboard
